.border2{
    border: 1px solid black;
    background-color: rgb(145, 235, 217);
    width: 955px;
    height: 570px;
    /* margin-left: 380px; */
    overflow-y: scroll;
}


ParentBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
